@page "/"
<PageTitle>Home</PageTitle>

<div>
    <Tabs>
        <Tab Title="Experiment 1">
            <Experiment1 />
        </Tab>
        <Tab Title="Experiment 2">
            <Experiment2 />
        </Tab>
    </Tabs>
</div>